<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Salon - Recuperar Contraseña</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/normalize.css">
  <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
  <header id="header">
    <div class="header-logo">
      <img src="/assets/svgs/barbershop_logo.svg" alt="Barbershop Logo">
    </div>
    <nav>
      <ul class="nav-items">
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="#our-services">Nuestros servicios</a></li>
        <li><a href="#about-us">Sobre nosotros</a></li>
      </ul>
    </nav>
  </header>
  <div class="container-image">
    <div class="header-barber-image">
      <img src="/assets/images/barbershop.jpg" alt="Barber">
    </div>
    <main class="forms">
      <form class="form-style change-password-form">
        <div class="form-logo">
          <h3>Cambio de contraseña</h3>
          <p>Ingresa una nueva contraseña y asegúrate de no olvidarla</p>
        </div>
        <label for="change-password">
          <p>Contraseña:</p>
          <div class="input-password">
            <input id="change-password" name="changedPassword" type="password" placeholder="Escribe tu contraseña">
            <button class="show-password-button" type="button">Mostrar</button>
          </div>
        </label>
        <label for="repeat-change-password">
          <p>Repetir contraseña:</p>
          <div class="input-password">
            <input id="repeat-change-password" name="repeatChangedPassword" type="password"
              placeholder="Repite tu contraseña">
            <button class="show-repeated-password-button" type="button">Mostrar</button>
          </div>
        </label>
        <p class="change-form-message form-message hidden"></p>
        <input type="submit" value="Guardar">
      </form>
    </main>
    <footer>
      <div class="footer-up">
        <section class="location-section">
          <img class="logo" src="/assets/svgs/barbershop_logo_white.svg" alt="Barbershop Logo">
          <div class="location">
            <img src="/assets/svgs/pin_location.svg" alt="Pin location">
            <p>Quito, Pinchincha - Ecuador</p>
          </div>
        </section>
        <section class="contact-section">
          <h3>Contáctanos</h3>
          <div class="contacts">
            <a href="#">
              <img src="/assets/svgs/whatsapp.svg" alt="Contact for Whatsapp">
            </a>
            <a href="#">
              <img src="/assets/svgs/telegram.svg" alt="Contact for Telegram">
            </a>
            <a href="#">
              <img src="/assets/svgs/instagram.svg" alt="Contact for Instagram">
            </a>
          </div>
        </section>
      </div>
      <section class="rigths-contact">
        <p class="text">2023 ® Todos los derechos reservados</p>
        <div class="reserved-rigths">
          <img src="/assets/images/epn_logo.png" alt="EPN logo">
          <div class="company-name">
            <p>Kaizen</p>
            <p>Tech</p>
          </div>
        </div>
      </section>
    </footer>
    <script src="../js/change-password.js" type="module"></script>
</body>

</html>