<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Salon - Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/normalize.css">
  <link rel="stylesheet" href="../styles/home.css">
</head>

<body>
  <main class="container">
    <div class="left-container">
    </div>
    <div class="rigth-container">
      <header id="header">
        <div class="header-logo">
          <img src="/assets/svgs/barbershop_logo_white.svg" alt="Barbershop Logo">
        </div>
      </header>
      <div class="user-data">
        <h1 class="container-title">Crear Nueva Cita</h1>
        <p class="container-text">Elige tus servicios y coloca tus datos</p>
        <p class="user">
          <span>Hola: </span>Frankz Alarcón
        </p>
        <button class="close-session">Cerrar Sesión</button>
      </div>
      <div class="options">
        <button class="option selected">Servicios</button>
        <button class="option">Información Cita</button>
        <button class="option">Resumen</button>
      </div>
      <div class="services-container">
        <h3>Servicios</h3>
        <p>Elige tus servicios a continuación</p>
        <div class="services"></div>
      </div>
    </div>
  </main>
  <script src="../js/home.js" type="module"></script>
</body>

</html>