<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Salon - Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/normalize.css">
  <link rel="stylesheet" href="../styles/home.css">
</head>

<body>
  <main class="container">
    <div class="left-container">
    </div>
    <div class="rigth-container">
      <header id="header">
        <div class="header-logo">
          <img src="/assets/svgs/barbershop_logo_white.svg" alt="Barbershop Logo">
        </div>
      </header>
      <div class="user-data">
        <h1 class="container-title">Crear Nueva Cita</h1>
        <p class="container-text">Elige tus servicios y coloca tus datos</p>
        <div class="container-data">
          <p class="user"></p>
          <button class="close-session" onclick="window.location='/index.html'">Cerrar Sesión</button>
        </div>
      </div>
      <div class="options">
        <button class="option service-button selected">Servicios</button>
        <button class="option information-button">Información Cita</button>
        <button class="option summary-button">Resumen</button>
      </div>
      <div class="services-container">
        <h3>Servicios</h3>
        <p>Elige tus servicios a continuación</p>
        <div class="services"></div>
      </div>
      <div class="information-container hidden">
        <h3>Tus Datos y Cita</h3>
        <p>Coloca tus datos y fecha de tu cita</p>
        <form class="information-form">
          <label for="name">
            <span>Nombre: </span>
            <input id="name" name="name" type="text" placeholder="Escribe tu nombre">
          </label>
          <label for="date">
            <span>Fecha: </span>
            <input id="date" name="date" type="date">
          </label>
          <label for="time">
            <span>Hora: </span>
            <input id="time" name="time" type="time" min="08:00" max="17:00">
          </label>
        </form>
      </div>
      <div class="summary-container hidden"></div>
    </div>
  </main>
  <script src="../js/home.js" type="module"></script>
</body>

</html>