<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Salon - Admin Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/normalize.css">
  <link rel="stylesheet" href="../../styles/admin-home.css">
</head>

<body>
  <main class="container">
    <div class="left-container">
    </div>
    <div class="rigth-container">
      <header id="header">
        <div class="header-logo">
          <img src="/assets/svgs/barbershop_logo_white.svg" alt="Barbershop Logo">
        </div>
      </header>
      <div class="user-data">
        <h1 class="container-title">Panel de administración</h1>
        <div class="container-data">
          <p class="user"></p>
          <button class="close-session" onclick="window.location='/index.html'">Cerrar Sesión</button>
        </div>
      </div>
      <div class="options">
        <button class="option appointments-button selected">Ver Citas</button>
        <button class="option services-button">Ver Servicios</button>
        <button class="option new-service-button">Nuevo Servicio</button>
      </div>
      <div class="search-appointments-container">
        <h3>Buscar Citas</h3>
        <label for="date" class="date-container">
          <span>Fecha:</span>
          <input id="date" type="date" name="date">
        </label>
        <div class="appointments-container">
          <div class="user-data">
            <div class="row">
              <span>ID:</span>
              <p>22</p>
            </div>
            <div class="row">
              <span>Hora:</span>
              <p>12:00:00</p>
            </div>
            <div class="row">
              <span>Cliente:</span>
              <p>Frankz Alarcón</p>
            </div>
            <div class="row">
              <span>Email:</span>
              <p>frankz@correo.com</p>
            </div>
            <div class="row">
              <span>Teléfono:</span>
              <p>09987654321</p>
            </div>
            <div class="services">
              <h3>Servicios</h3>
              <p>Corte de cabello Hombre <span>4.00</span></p>
              <p>Peinado Hombre <span>2.00</span></p>
              <p class="total"><span>Total:</span> 6.00</p>
            </div>
            <button class="complete-button" type="button">Completar</button>
          </div>
        </div>
      </div>
      <div class="show-services-container hidden">
        <h3>Servicios</h3>
        <p>Administración de servicios</p>
        <div class="services-container"></div>
      </div>
      <div class="new-service-container hidden">
        <h3>Nuevo Servicio</h3>
        <form class="form-new-service">
          <label for="name-service">
            <span>Nombre:</span>
            <input id="name-service" name="name" type="text" placeholder="Ingresa el nombre del servicio">
          </label>
          <label for="price-service">
            <span>Precio:</span>
            <input id="price-service" name="price" type="text" placeholder="Ingresa el precio del servicio">
          </label>
          <input type="submit" value="Guardar">
        </form>
      </div>
    </div>
  </main>
  <script src="../../js/admin-home.js" type="module"></script>
</body>

</html>